{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index page!</h1>

    <i class="material-icons md-48">face</i>
{% endblock %}

{% block stylesheets %}
    {{ registerCss('index') }}
{% endblock %}

{% block javascripts %}
    {{ registerJs('index') }}
{% endblock %}