{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index page!</h1>

    <div class="bower"></div>
    <div class="bower2"></div>
{% endblock %}

{% block stylesheets %}
    {{ registerCss('index') }}
{% endblock %}

{% block javascripts %}
    {{ registerJs('index') }}
{% endblock %}