{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index page!</h1>

    <div class="bower"></div>
    <div class="bower2"></div>

    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
{% endblock %}

{% block stylesheets %}
    {{ registerCss('index') }}
{% endblock %}

{% block javascripts %}
    {{ registerJs('index') }}
{% endblock %}