{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact page!</h1>
{% endblock %}

{% block stylesheets %}
    {{ registerCss('contact') }}
{% endblock %}

{% block javascripts %}
    {{ registerJs('contact') }}
{% endblock %}