<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ path('index') }}">index</a></li>
            <li><a href="{{ path('contact') }}">contact</a></li>
        </ul>
        {% block body %}{% endblock %}

        {{ registerJs('common') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
